.page2 {
  min-height: 100vh;
  max-width: 1000px;
  padding: 10px;
  margin-inline: auto;
}
.heading {
  text-align: center;
  padding-block: 2rem;
  font-size: 3rem;
  color: rgb(61, 61, 61);
  /* word-wrap: break-word; */
}

.second-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-content: center;
}
.img-container {
  width: 100%;
  height: 540px;
  justify-self: center;
  aspect-ratio: 9/16;
}

.img-container img {
  height: 100%;
  object-position: top;
}

.word-container {
  line-height: 1.9rem;
}

.sec-text {
  display: flex;
  color: #000;
  text-align: center;
}

.sec-img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 30px;
  border: solid 2px rgb(136, 136, 136);
}

.space {
  opacity: 0;
}

.love {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(116, 7, 49);
  letter-spacing: 3px;
}
@media screen and (max-width: 500px) {
  .second-container {
    grid-template-columns: 1fr;
  }
  .heading {
    font-size: 2rem;
  }
  .img-container {
    height: 100%;
    width: 100%;
  }
}
